table {
    border: 2px solid;
    margin: 50px auto;
    padding: 10px;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 2px solid;
    width: 35px;
    height: 35px;
}
@media screen and (max-width: 768px) {
    table {
        width: 90%;
    }

    td {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}